.sellers-container {
    width: 100%;
    height: 100vh;
    padding-top: 125px;
    display: flex;
    flex-direction: column;
}

.sellers-main {
    display: flex;
    flex-direction: row;
}

.sellers-section {
    width: 620px;
    height: 450px;
    margin-left: 310px;
}

.sellers-img {
    width: 680px;
    height: 450px;
}

.sellers-heading {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.sellers-para {
    width: 560px;
    height: auto;
    margin-top: 30px;
    font-size: 80%;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.sellers-needs {
    display: flex;
    flex-direction: row;
    width: 1300px;
    height: auto;
    margin-left: 310px;
    padding-top: 60px;
}

.sellers-right {
    margin-left: 60px;
}