.buyers-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    padding-top: 60px;
}

.buyers-section {
    border: 1px solid red;
    width: 620px;
    height: 450px;
    margin-left: 310px;
}

.buyers-img {
    width: 680px;
    height: 450px;
}

.buyers-heading {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.buyers-para {
    border: 1px solid yellow;
    width: 560px;
    height: auto;
    margin-top: 30px;
    font-size: 80%;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}