/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Colors */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* White - ffffff
Gray - d0cfcf
Black - 000000
Blue - 05668d
Red - ff0000 

Fonts 

font-family: 'Playfair Display', serif;
font-family: 'Raleway', sans-serif;*/

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* BASIC SETUP */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

.nav {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
}

.logo {
  border: 1px solid red;
  width: 100px;
  height: 100px;
}

.nav-list {
  border: 1px solid yellow;
  width: 620px;
  height: auto;
  margin-left: 620px;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
}

.nav-list a {
  text-decoration: none;
  width: 100%;
  display: block;
  box-sizing: border-box;
  margin-top: 10px;
}