/* 33% 67% 3.125% 67% 33% */
@media screen and (max-width: 15400px) {

}

@media screen and (max-width: 1200px) {
    .logo {
        width: 10%;
        height: auto;
    }

    .title {
        margin: 10px 0 10px 0;
    }

    .nav-list {
        width: 380px;
        margin: 10px 0 10px 190px;
    }
}